{% extends '../layouts/default.html' %}

{% block content %} 
  <div class="row">
    <div class="col-md-2">
      {% if keys.length %}
        <div class="list-group">
          {% for key in keys %}
            <a class="list-group-item" href="{{ '/lists/' + activeAwe + '/get/' + key }}">{{ getAwesomeName(key) }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-md-10">
      <h1>{{ activeAwe }}</h1>
      <hr />
      <p>To explore awesome stuff, click left menu. To edit this list, <a href="{{ '/lists/' + list.id + '/edit' }}">click here</a></p>
    </div> 
  </div>
{% endblock %}
