<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">getAwesomeness()</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if activeAwe %}
          <li class="active">
            <a href="{{ '/lists/' + activeAwe }}" title="{{ activeAwe }}">{{ activeAwe }}</a>
          </li>
        {% else%}
          {% for r in recents %}          
            <li class="{% if (r == awe) %}active{% endif %}"><a href="{{ '/get/' + r }}">{{ r }}</a></li>           
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=panzhangwang&amp;repo=getawesomeness&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="45" style="padding: 15px 0 0 15px;"></iframe>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" id="typeahead" class="form-control" placeholder="Search List">
        </div>
      </form>
    </div>
  </div>
</nav>
