{% macro aw(name) %}
  <a class="list-group-item {% if (awe == name) %}active{% endif %}" href="{{ '/get/' + name }}">{{ getAwesomeName(name) }}</a>
{% endmacro %}

<div id="leftbar">
	<div class="panel panel-default">
	  <div class="panel-heading">General</div>
	  <div class="list-group">
	    {{ aw('cpp') }}
			{{ aw('go') }}
			{{ aw('perl') }}
			{{ aw('rust') }}
			{{ aw('dotnet') }}
			{{ aw('python') }}
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Scripting</div>
	  <div class="list-group">
			{{ aw('js') }}
			{{ aw('shell') }}
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">JVM</div>
	  <div class="list-group">
			{{ aw('java') }}
			{{ aw('scala') }}
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Domain Specific</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Functional</div>
	  <div class="list-group">
			{{ aw('elixir') }}
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Web</div>
	  <div class="list-group">
			{{ aw('php') }}
			{{ aw('nodejs') }}
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Mobile</div>
	  <div class="list-group">
			{{ aw('android') }}
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Frontend</div>
	  <div class="list-group">
	  	{{ aw('svg') }}
			{{ aw('front_dev') }}
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Backend</div>
	  <div class="list-group">
			{{ aw('docker') }}
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Dynamic</div>
	  <div class="list-group">
			{{ aw('clojure') }}
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Editors</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Self-education</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Data</div>
	  <div class="list-group">
			{{ aw('ml') }}
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Dev Tools</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Another</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
</div>		