<div id="leftbar">
	<div class="panel panel-default">
	  <div class="panel-heading">General</div>
	  <div class="list-group">
			<a class="list-group-item {% if (awe == 'go') %}active{% endif %}" href="/get/go">Go</a>
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Scripting</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">JVM</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Domain Specific</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Functional</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Web</div>
	  <div class="list-group">
			<a class="list-group-item {% if (awe == 'php') %}active{% endif %}" href="/get/php">PHP</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Mobile</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Frontend</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Backend</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Dynamic</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Editors</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Self-education</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Data</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Dev Tools</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Another</div>
	  <div class="list-group">
			<a class="list-group-item" href="#">Link</a>
			<a class="list-group-item" href="#">Link</a>
		</div>
	</div>
</div>		