{% macro aw(name) %}
  <a class="list-group-item {% if (awe == name) %}active{% endif %}" href="{{ '/get/' + name }}">{{ getAwesomeName(name) }}</a>
{% endmacro %}

<div id="leftbar">
	<div class="panel panel-info">
	  <div class="panel-heading">General</div>
	  <div class="list-group">
	    {{ aw('c') }}
	    {{ aw('cpp') }}
	    {{ aw('d') }}
	    {{ aw('delphi') }}
	    {{ aw('fortran') }}
			{{ aw('go') }}
			{{ aw('perl') }}
			{{ aw('rust') }}
			{{ aw('dotnet') }}
			{{ aw('python') }}
			{{ aw('ruby') }}
			{{ aw('swift') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Scripting</div>
	  <div class="list-group">
	  	{{ aw('autohotkey') }}
			{{ aw('coldfusion') }}
			{{ aw('groovy') }}
			{{ aw('js') }}
			{{ aw('shell') }}
			{{ aw('lua') }}
			{{ aw('perl') }}
			{{ aw('php') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">JVM</div>
	  <div class="list-group">
			{{ aw('java') }}
			{{ aw('scala') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Domain Specific</div>
	  <div class="list-group">
			{{ aw('r') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Functional</div>
	  <div class="list-group">
	  	{{ aw('clojure') }}
			{{ aw('elixir') }}
			{{ aw('ocaml') }}
			{{ aw('haskell') }}
			{{ aw('erlang') }}
			{{ aw('erlang_bm') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Web</div>
	  <div class="list-group">
	  	{{ aw('angularjs') }}
	  	{{ aw('backbone') }}				
	  	{{ aw('dojo') }}
	  	{{ aw('knockout') }}
			{{ aw('nodejs') }}
			{{ aw('php') }}
			{{ aw('react') }}
			{{ aw('webcomponents') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Mobile</div>
	  <div class="list-group">
			{{ aw('android') }}
			{{ aw('apple') }}
			{{ aw('ios') }}
			{{ aw('cordova') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Frontend</div>
	  <div class="list-group">
	  	{{ aw('docs') }}
	  	{{ aw('svg') }}
	  	{{ aw('images') }}
			{{ aw('front_dev') }}
			{{ aw('html5') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Backend</div>
	  <div class="list-group">
			{{ aw('docker') }}
			{{ aw('gamedev') }}
      {{ aw('openresty') }}
			{{ aw('servicesengineering') }}
			{{ aw('sysadmin') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Dynamic</div>
	  <div class="list-group">
			{{ aw('clojure') }}
			{{ aw('julia') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Editors</div>
	  <div class="list-group">
			{{ aw('sublime') }}
			{{ aw('vim') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Self-education</div>
	  <div class="list-group">
			{{ aw('algorithm') }}
			{{ aw('conferences') }}
			{{ aw('testbook') }}
			{{ aw('koans') }}
			{{ aw('openscience') }}
			{{ aw('papers') }}
			{{ aw('talks') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Data</div>
	  <div class="list-group">
			{{ aw('analytics') }}
			{{ aw('db') }}
			{{ aw('datascience') }}
			{{ aw('dataset') }}
			{{ aw('ml') }}
			{{ aw('hadoop') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Dev Tools</div>
	  <div class="list-group">
			{{ aw('tools') }}
			{{ aw('dotfiles') }}
			{{ aw('devenv') }}
		</div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">Others</div>
	  <div class="list-group">
			{{ aw('ccm') }}
			{{ aw('ciandcd') }}
			{{ aw('styleguide') }}
			{{ aw('nlp') }}
			{{ aw('vagrant') }}
			{{ aw('wpo') }}
		</div>
	</div>
</div>		