{% extends 'layouts/default.html' %}

{% block content %}	
	<div class="row">
		<div class="col-md-2">
			{% if activeList %}		
				{% if keys.length %}
	        <div class="list-group">
	          {% for key in keys %}
	            <a class="list-group-item" href="{{ '/lists/' + activeList + '/get/' + key }}">{{ getAwesomeName(key) }}</a>
	          {% endfor %}
	        </div>
	      {% endif %}
			{% else %}
				{% include 'includes/left.html' %}
			{% endif %}
		</div>
		<div class="col-md-7">
			<a href="{{ 'https://github.com' + repo }}" class="btn btn-default pull-right">View on Github</a>	
			<article class="markdown-body">
	  		{{ md(article) }}
	  	</article>
		</div>
		<div class="col-md-3">
			<div id="sidebar">	
				<div class="toc"></div>
			</div>			
		</div> 
  </div>
{% endblock %}
