{% extends 'layouts/default.html' %}

{% block content %}	
	<div class="row">
		<div class="col-md-2">
			{% for g in groups %}     		  
    		<div class="panel panel-info">
          <div class="panel-heading">{{ g.title }}</div>
          <div class="list-group">          	
            {% for it in g.items %}
              <a class="list-group-item {% if (awe == it) %}active{% endif %}" href="{{ '/get/' + it }}">{{ label(it) }}</a>
            {% endfor %}
          </div>
        </div>          
      {% endfor %}
		</div>
		<div class="col-md-7">
			<a href="{{ 'https://github.com' + repo }}" class="btn btn-default pull-right" target="_blank">View on Github</a>	
			<article class="markdown-body">
	  		{{ md(article) }}
	  	</article>
		</div>
		<div class="col-md-3">
			<div id="sidebar">	
				<div class="toc"></div>
			</div>			
		</div> 
  </div>
{% endblock %}
