{% extends 'layouts/default.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
	  	<div class="jumbotron">
        <h1>Use getAwesomeness()</h1>
        <p>To retrieve all amazing awesomeness from Github</p>
      </div>
      <div class="row">        
        {% for g in groups %}
     		  <div class="col-md-3">
        		<div class="panel panel-primary">
              <div class="panel-heading">{{ __(g.key) }}</div>
              <div class="list-group">
                {% for it in g.items %}
                  <h4><a class="list-group-item" href="{{ '/get/' + it }}">{{ label(it) }}</a></h4>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
		</div>
  </div>
{% endblock %}
