{% extends 'layouts/default.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
	  	<div class="jumbotron">
        <h1>Use getAwesomeness()</h1>
        <p>To retrieve all amazing awesomeness from Github</p>
      </div>
      <div class="row">
        {% for g in groups %}
     		  <div class="col-md-3">
        		<div class="panel panel-info">
              <div class="panel-heading">{{ g.title }}</div>
              <div class="list-group">
                {% for it in g.items %}
                  <a class="list-group-item" href="{{ '/get/' + it }}">{{ label(it) }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
		</div>
  </div>
{% endblock %}
